build/
cmake-build-*/
*.lock
*.env
.direnv/
.cache/
.idea/
*.log
.vs/
.vscode/
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.Trash-*
$RECYCLE.BIN/
.TemporaryItems
ehthumbs.db
Thumbs.db
result/